pkgbase = paint-qt
	pkgdesc = A raster image editor, a faithful port of Paint.NET to Qt 6
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/RubCut/Paint.QT
	arch = x86_64
	arch = aarch64
	license = GPL3
	makedepends = cmake
	makedepends = ninja
	depends = qt6-base
	depends = qt6-svg
	optdepends = dark-theme: follow the system colour scheme, or pick a theme from the View menu
	source = paint-qt-1.0.0.tar.gz::https://github.com/RubCut/Paint.QT/archive/refs/tags/v1.0.0.tar.gz
	sha256sums = SKIP

pkgname = paint-qt
