pkgbase = paint-qt
	pkgdesc = A raster image editor for Linux desktops, with the tool set of Paint.NET
	pkgver = 1.0.3
	pkgrel = 1
	url = https://github.com/RubCut/Paint.QT
	arch = x86_64
	arch = aarch64
	license = GPL3
	makedepends = cmake
	makedepends = ninja
	depends = qt6-base
	depends = qt6-svg
	optdepends = dark-theme: follow the system colour scheme, or pick a theme from the View menu
	source = paint-qt-1.0.3.tar.gz::https://github.com/RubCut/Paint.QT/archive/refs/tags/v1.0.3.tar.gz
	sha256sums = 59897edbb80da78909e40a7b72adb7327b12be75efc463cff85c5aa803fefe52

pkgname = paint-qt
